*{
    background-color: white;
    font: Roboto;
}

#calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-self: center;
}

#calc_screen{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    grid-column: 1 / -1;
    color: black;
    background-color: gainsboro;
    font-size: 4em;
    padding: 10px;
}

#calc_body{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
}

button{
    background-color: #4CAF50; /* Green */
    border: solid 1px white;
    color: white;
}

#zero{
    grid-column: span 2;
}